
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Báo Cáo khách hàng mua nhiều theo giai đoạn</h2>


@Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.Name = "WebDocumentViewer";
}).Bind(new DevExpress.XtraReports.Web.CachedReportSourceWeb(new XtraReport1())).GetHtml()
